#root {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0080ff;
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ingredient {
  background-color: #eed793;
  border: 1px solid #ffa000;
  color: black;
  width: auto;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.ingredient:hover {
  transform: scale(1.05);
}

.submit-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.show-ans-button {
  background-color: #3b5068;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-container button {
  flex: 1 0 auto; /* Grow and shrink as needed, base width is auto */
  margin: 5px;
  flex-basis: calc(50% - 10px); /* 50% width minus margin */
  max-width: calc(50% - 10px);
}

/* To remove the right margin from the last button in each row */
.button-row button:last-child {
  margin-right: 0;
}
